---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [2]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [3]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [14]:
s.iloc[3] # these are attributes, not methods

'South Korea'

In [17]:
s.loc['Golf']

'Scotland'

In [16]:
s[3]

'South Korea'

In [18]:
s['Golf']

'Scotland'

In [4]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [5]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead
    # use explicit .iloc/ .loc

KeyError: 0

In [28]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [46]:
%%timeit -n 100
total = 0
for item in s:
    total+=item

2.99 ms ± 105 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
import numpy as np

In [49]:
%%timeit -n 100

total = np.sum(s)

The slowest run took 5.76 times longer than the fastest. This could mean that an intermediate result is being cached.
286 µs ± 223 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [40]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    202
1    384
2     61
3    732
4    623
dtype: int64

In [41]:
len(s)

10000

In [42]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

3.04 ms ± 58.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [43]:
%%timeit -n 100
summary = np.sum(s)

The slowest run took 4.93 times longer than the fastest. This could mean that an intermediate result is being cached.
288 µs ± 224 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [44]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    204
1    386
2     63
3    734
4    625
dtype: int64

In [50]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    206
1    388
2     65
3    736
4    627
dtype: int64

In [51]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

1.91 s ± 19.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [54]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

400 µs ± 65.5 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [53]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [6]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [7]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [8]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [9]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [10]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

# The DataFrame Data Structure

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()